html, body
{
/*color: #343a40;*/
font-family: /*"Source Han Serif SC", "Source Han Serif", */-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
font-size: 14px;
}

h1 {font-size:30px; font-weight: bold;}
h2 {font-size:24px; color: #5cb85c; font-weight: bold; margin-top: 2em; margin-bottom: 1em; text-align: center}
h3 {font-size:18px; color: #5cb85c; font-weight: bold;}
h4 {font-size:16px; color: #5cb85c; font-weight: bold;}
h5 {font-size:14px; color: #5cb85c; font-weight: bold;}
h6 {font-size: 12px}

/*a { color: #e83e8c}*/

.navbar { padding: .5rem 0;}
.footer { font-size: 12px; }

.task-list { padding-left: 1em; list-style: none; margin-left: 0}
.task-list-item input { margin-right: 1em; }

.motto {padding-left: 5px; font-size:12px; color: #6c757d; border-left: 3px #6c757d solid;}

.post-list { padding-left: 0; list-style: none; /*font-family: "Times New Roman", SimSun, NSimSun, "宋体";*/}
.post-list-item { display: block; margin-bottom: 1.5em }
.post-list-item .title { font-size: 14px; display: inline;}
.post-list-item .excerpt { color: #6c757d }
.post-list-item .excerpt p {}

.post { /*font-family: "Times New Roman", SimSun, NSimSun, "宋体";*/}
.post .excerpt {padding-left: 5px; font-size:14px; color: #6c757d; border-left: 3px #6c757d solid;}
.post .content {font-size:14px; color: #333;}
.post .date {color: #c0c0c0; font-size: 12px;}
.post .tags {}

.book-img {width: 200px;}

#tagcloud {margin: 20px;}
#tagcloud p {display: inline; }
#tagcloud code {margin-right:30px}

blockquote { font-style: oblique; padding-left: 5px; border-left: 3px #6c757d solid;}
