html {
	font-size: 0.875rem;
}
html, body
{
color: #343a40;
font-family: /*"Source Han Serif SC", "Source Han Serif", */-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, {
    font-weight: 500;
}
h1 {font-size:1.5rem; font-weight: bold;}
h2 {font-size:1.5rem; margin-top: 2rem; margin-bottom: 1rem; text-align: center}
h3 {font-size:1.2rem; font-weight: bold; }
h4 {font-size:1rem; font-weight: bold;}
h5 {font-size:0.9rem; font-weight: bold;}
h6 {font-size: 0.9rem;font-weight: bold;}

a {
    text-decoration: none;
}
a:hover {
	/*color: #e83e8c;*/
	
	text-decoration: none;
}
.container {
    max-width: 700px;
}
@media (max-width: 991.98px) {
	.container {
		max-width: 991.98px;
	}
}
.navbar { padding: .5rem 0;}
.nav-item {font-size: 1rem;}
.footer { font-size: 0.8rem; }

.task-list { padding-left: 1rem; list-style: none; margin-left: 0}
.task-list-item input { margin-right: 1rem; }

.motto {padding-left: 5px; font-size:0.8rem; color: #6c757d; border-left: 3px #6c757d solid;}

.post-list { padding-left: 0; list-style: none; /*font-family: "Times New Roman", SimSun, NSimSun, "宋体";*/}
.post-list-item { display: block; margin-bottom: 1.5em }
.post-list-item .title { font-size: 1rem; display: inline; font-weight: normal;}
.post-list-item .excerpt { color: #6c757d; font-size: 0.85rem}
.post-list-item .excerpt p {}

.pagination .previous {
	padding-right: 15px;
	font-weight: bold;
}

.pagination .page_number {}

.pagination .next {
	padding-left: 15px;
	font-weight: bold;
}

.post { 
/*font-family: "Times New Roman", SimSun, NSimSun, "宋体";*/
font-family: Optima, 'PingFangSC-light','PingFangTC-light', 'SF Pro SC','SF Pro Text',-apple-system,system-ui,'Segoe UI',Roboto,Ubuntu,Cantarell,'Noto Sans',sans-serif,BlinkMacSystemFont,'Helvetica Neue';
color: #2f2f2f;
}
.post .excerpt {
	padding-left: 1rem; 
	font-size:1rem; 
	color: #6c757d; 

	border: 1px solid #eee;
	border-left: 3px #6c757d solid;

	padding: 5px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    
    border-radius: .25rem;

    background-color: #fff;
}
.post .excerpt p {margin: 1rem;}

.post .content {font-size:1.15rem; color: #2f2f2f; line-height: 180%;}
.post .date {color: #c0c0c0; font-size: 1rem;}
.post .tags {}

.book-img {width: 200px;}

#tagcloud {margin: 1rem;}
#tagcloud p {display: inline; }
#tagcloud code {margin-right:2rem}

blockquote { font-style: oblique; padding-left: 1rem; border-left: 1rem #6c757d solid;}

.darkmode--activated .navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.darkmode--activated .navbar-brand{
  color: #fff;
}
.darkmode--activated .navbar-light .navbar-brand:focus, .darkmode--activated .navbar-light .navbar-brand:hover {
    color: #fff;
}
.darkmode--activated .navbar-toggler{
  background-color: #eee;
}
