<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    {% seo %}
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% feed_meta %}
    <link rel="icon" type="image/png" href="/assets/images/icon.png" />
  </head>
  <body>
      <!-- Bootstrap BEGIN -->
      <script src="/assets/jquery-3.5.1.min.js"></script>
      <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
      <!-- Bootstrap BEGIN -->
      
      {% include navigation.html %}
      
      <div class="container main">
          {{ content }}
      </div>

      <div style="text-align: center;">
        <img src="/assets/images/qr_shellc_pub_2.jpg" width="80">
      </div>

      <div class="container">
         <p class="footer">&copy;2002-2021 SHELLC.CN, All rights reserved. IPC证：<a href="https://beian.miit.gov.cn" target="_blank">京ICP备14048959号-1</a></p>
      </div>

      
  </body>
</html>
