<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    {% seo %}
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% feed_meta %}
    <link rel="icon" type="image/png" href="/assets/images/icon.png" />
  </head>
  <body>
      <!-- Bootstrap BEGIN -->
      <script src="/assets/jquery-3.5.1.min.js"></script>
      <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
      <!-- Bootstrap BEGIN -->
      
      {% include navigation.html %}
      
      <div class="container main">
          {{ content }}
      </div>

      <div class="mb-3" style="text-align: center;">
        <div class="mb-2">关注我的微信公众号保持联系</div>
        <img src="/assets/images/qr_shellc_pub_2.jpg" width="80">
      </div>

      <div class="container">
         <p class="footer">&copy;2002-2022 SHELLC.CN, All rights reserved. ICP证：<a href="https://beian.miit.gov.cn" target="_blank">京ICP备14048959号-1</a></p>
      </div>

<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script>
  function addDarkmodeWidget() {
    new Darkmode({
      label: '🌓'
    }).showWidget();
  }
  window.addEventListener('load', addDarkmodeWidget);
</script>
  </body>
</html>
