---
layout: default
---

<div class="post">

<h1>{{ page.title }}</h1>
<p>
	<span class="author">{{ page.author }}</span>
	<span class="date">{{ page.date | date_to_string }}</span>
</p>
<p>
    <span class="tags">tags: 
      {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <a href="/tags/{{ tag_name }}"><code class="tag"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
      {% endfor %}
    </span>
</p>

<div class="excerpt">
{{page.excerpt}}
</div>

<div class="content">
{{ page.content | remove: page.excerpt }}
</div>

<div style="text-align: center;">
<img src="/assets/images/qr_shellc_pub.jpeg" width="120">
</div>
</div>
