name: Jekyll site CI

on:
  push:
    branches: [ $default-branch ]
  #pull_request:
  #  branches: [ $default-branch ]

# Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
    - name: Install jekyll
      run: |
        bundle install
    - name: Setup Pages
      id: pages
      uses: actions/configure-pages@v4
    - name: Build with jekyll
      run: bundle exec jekyll build
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: ./_site  

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4